# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# ============================================================
# Virtual Environment
# ============================================================

venv/
env/
.venv/

# ============================================================
# VSCode / PyCharm
# ============================================================

.vscode/
.idea/

# ============================================================
# Colab
# ============================================================

content/

# ============================================================
# Trained Models
# ============================================================

*.pt
*.pth
*.ckpt

# ============================================================
# Logs
# ============================================================

runs/
logs/

# ============================================================
# Dataset
# ============================================================

LS-SSDD/
OpenSARShip2.0/
datasets/
data/

# ============================================================
# Temporary Files
# ============================================================

*.tmp
*.log
*.bak

# ============================================================
# System Files
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Large SAR Images
# ============================================================

*.SAFE
*.zip
*.tar
*.rar

# Sentinel-1 data
*.tif
*.tiff
*.img

# MATLAB
*.mat

# NetCDF
*.nc

# ============================================================
# Generated Results
# ============================================================

prediction/
output/
results/